body{
    background-color: green;
}

$color_1: grey;
$color_2: turquoise;
$color_3: white;

$font-family_1: sans-serif;
$font-family_2: 'Rubik' , sans-serif;

$background-color_1: whitesmoke;
$background-color_2: turquoise;

$border-color_1: grey;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');
:root {
    --maxwidth: 1200px;
    --rootsize: 20px;
}
h1 {
    width: 100%;
    width: 801px;
    height: 300px;
    padding: 3rem 0.5rem;
    height: auto;
    border-color: $border-color_1;
    border-width: 1px;
    border-style: solid;
    color: $color_1;
    font-family: $font-family_1;
    text-transform: uppercase;
    font-size: 1.5rem;
}
a {
    color: $color_2;
}

